Package: bindechexascii
Version: 0.0+20140524.git7dcd86-1
Architecture: i386
Maintainer: Marcio de Souza Olivera <m.desouza20@gmail.com>
Installed-Size: 48
Depends: libc6 (>= 2.7)
Section: math
Priority: optional
Homepage: https://github.com/xfuw89/BinDecHexAscii
Description: simple ASCII,binary,decimal,hex converter
 The bindechexascii is a program that convert the argument from standard input
 to the numbering system or character set (ASCII) specified in the option
 and print the result on the screen. That way you can perform the following
 conversion: binary to decimal, binary to hex, binary to ASCII, decimal to
 binary, decimal to hex, decimal to ASCII, hex to binary, hex to decimal, hex
 to ASCII, ASCII to binary, ASCII to decimal, ASCII to hex.
 .
 It's different from packages like iprint showing all results
 (binary,hexadecimal,ASCII,octal) for any argument.
